<div class="about_container">
   
            <div class="title_container">
                <h2 class="title-section">The number #1  Company</h2>
            <div class="divider"></div>
            <p class="param-section">
                Est velit elit nostrud eiusmod sit. Exercitation Lorem eiusmod do commodo reprehenderit cupidatat laborum magna in occaecat consectetur labore veniam velit. Duis in consectetur occaecat dolore labore tempor velit anim dolor magna pariatur. Anim ad dolore fugiat nulla esse nisi sint sint amet eu sit aliquip ullamco. Esse ad do magna qui.
            </p>
            <p class="param-section">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
            <p class="param-section">Sit esse tempor duis non ex consectetur sit tempor laboris mollit. Id id cillum tempor fugiat. Deserunt consectetur minim velit ea reprehenderit eu cupidatat. Eu deserunt veniam minim culpa aliqua amet aliqua ex. Veniam qui laboris proident pariatur non labore mollit anim. Consequat eiusmod ut officia culpa deserunt non culpa dolor ex amet in ullamco duis eiusmod. Cupidatat cillum exercitation aliquip labore.</p>
        </div>
        
        <div>
            <div>
                <%= image_tag ("about_frame.png") %>
            </div>
        </div>

    
</div>