<div class="background">
  <div class="blur">
    <div class='details-section'>
      
        <div  class='params-section'>
            <p class='sub-params'>203 Fake St. Mountain View, San Francisco, California, USA</p>
        </div>
        <div  class='params-section'>
            <p class='sub-params'>+00 1122 3344 5566 </p>
        </div>
        <div  class='params-section'>
            <p class='sub-params'>abc@temporary.com </p>
        </div>
    </div>
  </div>
</div>