<div class="page-section bg-light">
    <div class="container">
      <div class="heading_container">
        <div class="subhead">Our services</div>
        <h2 class="title-section">How Our Team Can Help</h2>
        <div class="divider"></div>
      </div>

        <div class="row">
            <div class="service-section">
                    <div class="service_image_container">
                        <%= image_tag("bussiness")%>
                    </div>
                    <div class='content-section'>
                        <h5 class='h5-title'>OnSite </h5>
                        <p class='p-section'>We analyse your website's structure, internal architecture & other key</p>
                        <p class='p-section'>Sit veniam do aliqua velit id et ea ex amet veniam voluptate. Velit consequat aliqua nisi eu occaecat voluptate nulla minim. Officia ipsum et do cillum ea aute pariatur aliqua aliqua laboris quis enim cupidatat. Deserunt enim adipisicing nostrud mollit fugiat id magna minim dolore dolore occaecat nulla nostrud sit.</p>
                    </div>
            </div>
            <div class="service-section" id="reverse-section">
                    <div class="service_image_container">
                        <%= image_tag("bussiness")%>
                    </div>
                  <div class='content-section'>
                        <h5 class='h5-title'>OnSite </h5>
                        <p class='p-section'>We analyse your website's structure, internal architecture & other key</p>
                        <p class='p-section'>Sit veniam do aliqua velit id et ea ex amet veniam voluptate. Velit consequat aliqua nisi eu occaecat voluptate nulla minim. Officia ipsum et do cillum ea aute pariatur aliqua aliqua laboris quis enim cupidatat. Deserunt enim adipisicing nostrud mollit fugiat id magna minim dolore dolore occaecat nulla nostrud sit.</p>
                    </div>
            </div>
            <div class="service-section">
                    <div class="service_image_container">
                        <%= image_tag("bussiness")%>
                    </div>
                    <div class='content-section'>
                        <h5 class='h5-title'>OnSite </h5>
                        <p class='p-section'>We analyse your website's structure, internal architecture & other key</p>
                        <p class='p-section'>Sit veniam do aliqua velit id et ea ex amet veniam voluptate. Velit consequat aliqua nisi eu occaecat voluptate nulla minim. Officia ipsum et do cillum ea aute pariatur aliqua aliqua laboris quis enim cupidatat. Deserunt enim adipisicing nostrud mollit fugiat id magna minim dolore dolore occaecat nulla nostrud sit.</p>
                    </div>
            </div>
            <div class="service-section" id="reverse-section">
                    <div class="service_image_container" >
                        <%= image_tag("bussiness")%>
                    </div>
                    <div class='content-section'>
                        <h5 class='h5-title'>OnSite </h5>
                        <p class='p-section'>We analyse your website's structure, internal architecture & other key</p>
                        <p class='p-section'>Sit veniam do aliqua velit id et ea ex amet veniam voluptate. Velit consequat aliqua nisi eu occaecat voluptate nulla minim. Officia ipsum et do cillum ea aute pariatur aliqua aliqua laboris quis enim cupidatat. Deserunt enim adipisicing nostrud mollit fugiat id magna minim dolore dolore occaecat nulla nostrud sit.</p>
                    </div>
            </div>
           
        </div>

    </div> <!-- .container -->
</div> <!-- .page-section -->